In [83]:
import numpy 
import pandas
import sklearn.ensemble
import joblib
import sklearn.svm
from sklearn.neighbors import KNeighborsClassifier
import sklearn.ensemble
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import KFold

In [84]:
dataframe =  pandas.read_csv("file:\\Users\mayma\Downloads\cleaned_data (1).csv")
dataframe = dataframe.iloc[:,1:]
# dataframe=dataframe.iloc[:,:6]

sum(dataframe["gender_concept_name"] == 0)
dataframe

,last.status,age.splits,gender_concept_name,is_icu,was_ventilated,length_of_stay,Acute.Hepatic.Injury..during.hospitalization.,Acute.Kidney.Injury..during.hospitalization.,BMI.over30,BMI.over35,...,Potassium.between3.5and5.2 (normal level),Chloride.between96and107 (normal level),Bicarbonate.between21and31 (normal Level),Blood_Urea_Nitrogen.between5and20 (normal level),Creatinine.between0.5and1.2 (normal level),eGFR.below30- (Kidney Malfunction),Troponin.above0.01 (heart attack blood test),SBP.above139,MAP.above90,2345-7_Glucose [Mass/volume] in Serum or Plasma
0,0,38,0,1,0,52,1,1,1.0,0,...,1,0,1,1,1,0,0,0,1,130
1,0,38,0,1,0,69,1,0,0.0,0,...,1,0,1,1,1,0,0,0,1,308
2,0,38,0,0,1,19,1,1,0.0,0,...,1,0,1,1,1,0,0,0,0,139
3,0,66,0,0,1,5,1,1,0.0,0,...,1,1,1,0,1,0,0,1,1,104
4,1,66,0,1,0,40,1,0,0.0,0,...,1,1,1,0,1,0,0,0,0,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,0,66,0,0,1,3,1,1,1.0,1,...,1,1,1,1,1,0,0,1,0,91
1171,0,66,0,0,1,23,1,1,0.0,0,...,0,0,1,0,0,0,1,0,0,132
1172,0,38,1,0,1,1,1,1,0.0,0,...,1,1,1,1,1,0,0,0,1,92
1173,0,38,1,0,1,9,1,1,0.0,0,...,1,1,1,1,1,0,1,0,0,99
1174,0,66,0,0,1,2,1,1,0.0,0,...,1,0,1,1,1,0,0,0,1,98

In [85]:
Y=dataframe["last.status"]
sum(dataframe["last.status"]==0)
# dataframe["age.splits"].tolist()

994

In [86]:
dataframe = dataframe.iloc[:,1:]
dataframe = dataframe.drop(["length_of_stay"], axis = 1)
dataframe = dataframe.drop(["is_icu"], axis = 1)
dataframe = dataframe.drop(["was_ventilated"], axis = 1)
dataframe

,age.splits,gender_concept_name,Acute.Hepatic.Injury..during.hospitalization.,Acute.Kidney.Injury..during.hospitalization.,BMI.over30,BMI.over35,temperature.over38,pulseOx.under90,Respiration.over24,HeartRate.over100,...,Potassium.between3.5and5.2 (normal level),Chloride.between96and107 (normal level),Bicarbonate.between21and31 (normal Level),Blood_Urea_Nitrogen.between5and20 (normal level),Creatinine.between0.5and1.2 (normal level),eGFR.below30- (Kidney Malfunction),Troponin.above0.01 (heart attack blood test),SBP.above139,MAP.above90,2345-7_Glucose [Mass/volume] in Serum or Plasma
0,38,0,1,1,1.0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,1,130
1,38,0,1,0,0.0,0,1,1,1,1,...,1,0,1,1,1,0,0,0,1,308
2,38,0,1,1,0.0,0,1,1,0,0,...,1,0,1,1,1,0,0,0,0,139
3,66,0,1,1,0.0,0,0,0,0,1,...,1,1,1,0,1,0,0,1,1,104
4,66,0,1,0,0.0,0,1,1,0,1,...,1,1,1,0,1,0,0,0,0,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,66,0,1,1,1.0,1,0,0,0,0,...,1,1,1,1,1,0,0,1,0,91
1171,66,0,1,1,0.0,0,1,0,0,1,...,0,0,1,0,0,0,1,0,0,132
1172,38,1,1,1,0.0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,1,92
1173,38,1,1,1,0.0,0,1,0,0,0,...,1,1,1,1,1,0,1,0,0,99
1174,66,0,1,1,0.0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,1,98

In [87]:
# dup = dataframe
# dataframe = dataframe.append(dup)

In [92]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

# creating a RF classifier
# clf = LogisticRegression(random_state=41)

clf = RandomForestClassifier(n_estimators = 100) 
X_train, X_test, y_train, y_test = train_test_split(dataframe, Y, test_size = 0.2, random_state = 41) 
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)
 
score = clf.score(X_test,y_test)

coef =  clf.feature_importances_
score

0.8893617021276595

In [61]:
coef.sort()
coef

array([0.01568639, 0.01690535, 0.01867237, 0.01878306, 0.02148101,
       0.0243324 , 0.02463384, 0.02464852, 0.02467891, 0.02582157,
       0.02747037, 0.02928958, 0.03190398, 0.03461811, 0.03627054,
       0.03655533, 0.03772482, 0.04434594, 0.04575153, 0.04947971,
       0.06147372, 0.07280774, 0.13821965, 0.13844556])

In [62]:
# indexes = sorted(range(len(coef)), key =  lambda sub: coef[sub],reverse = True)
# indexes
# colume = []
# for i in range(6):
#     colume.append(dataframe.columns[indexes[i]])
# colume

In [63]:
colume = ["age.splits", "Acute.Kidney.Injury..during.hospitalization.", "2345-7_Glucose [Mass/volume] in Serum or Plasma","gender_concept_name", "Acute.Hepatic.Injury..during.hospitalization.","pulseOx.under90"  ]

In [64]:
bf = dataframe[colume]
bf

,age.splits,Acute.Kidney.Injury..during.hospitalization.,2345-7_Glucose [Mass/volume] in Serum or Plasma,gender_concept_name,Acute.Hepatic.Injury..during.hospitalization.,pulseOx.under90
0,38,1,130,0,1,0
1,38,0,308,0,1,1
2,38,1,139,0,1,1
3,66,1,104,0,1,0
4,66,0,179,0,1,1
...,...,...,...,...,...,...
1170,66,1,91,0,1,0
1171,66,1,132,0,1,0
1172,38,1,92,1,1,0
1173,38,1,99,1,1,0
1174,66,1,98,0,1,0

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
# creating a RF classifier
# clf = RandomForestClassifier(n_estimators = 100) 
# clf = svm.SVC()
clf = LogisticRegression(random_state=41)
# clf = DecisionTreeClassifier(max_depth=5)
# from sklearn.neighbors import KNeighborsClassifier
# clf = KNeighborsClassifier(n_neighbors=3)
X_train, X_test, y_train, y_test = train_test_split(bf, Y, test_size = 0.2, random_state = 41) 
# # Training the model on the training dataset
# # fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)
# clf.fit(bf, Y) 
score = clf.score(X_test,y_test)

score

C:\Users\mayma\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.902127659574468

In [66]:
# clf.predict(X_test)

In [67]:
# y_test.values

In [68]:
# gammas = [0.1, 1, 10, 100]
# for gamma in gammas:
#     svc = svm.SVC(kernel='rbf', gamma=gamma)
#     svc.fit(X_train, y_train)
#     print(f"{gamma}: {svc.score(X_test, y_test)}")
# kernels = ['linear', 'rbf', 'poly']
# for kernel in kernels:     
#     svc = svm.SVC(kernel=kernel)
#     svc.fit(X_train, y_train)
#     print(f"{kernel}: {svc.score(X_test, y_test)}")   
# cs = [0.1, 1, 10, 100, 1000]
# for c in cs:
#     svc = svm.SVC(kernel='rbf', C=c)
#     svc.fit(X_train, y_train)
#     print(f"{c}: {svc.score(X_test, y_test)}")
# degrees = [0, 1, 2, 3, 4, 5, 6]
# for degree in degrees:
#     svc = svm.SVC(kernel='poly', degree=degree)
#     svc.fit(X_train, y_train)
#     print(f"{degree}: {svc.score(X_test, y_test)}")

In [132]:
# joblib.dump(clf,"final.sav")

In [1]:
# dataframe.iloc[:,0:1]

In [2]:
# balanced_accuracy_score(dataframe.iloc[:,0], randomforest)

In [ ]:
# dataframe =  pandas.read_csv("file:\\Users\mayma\Downloads\cleaned_data (1).csv")
# dataframe = dataframe.iloc[:,1:]
# dataframe = dataframe.drop(["length_of_stay"], axis = 1)
# dataframe = dataframe.drop(["is_icu"], axis = 1)
# dataframe = dataframe.drop(["was_ventilated"], axis = 1)
# kfold = KFold(n_splits = 10, shuffle = True)
# kfold.get_n_splits(dataframe)

In [4]:
# accuracy_average = 0
# precision_average = 0
# recall_average = 0
# f1_average = 0
# for train_index, test_index in kfold.split(dataframe):
#   test = dataframe.iloc[test_index]
#   train = dataframe.iloc[train_index]
#   randomforestprediction = sklearn.ensemble.RandomForestClassifier(n_estimators=100)
#   randomforestprediction.fit(train.iloc[:,1:],  train.iloc[:,0])
#   randomforest = randomforestprediction.predict(test.iloc[:,1:])
#   accuracy_average += (accuracy_score(test.iloc[:,0], randomforest))
#   precision_average += (precision_score(test.iloc[:,0], randomforest))
#   recall_average += (recall_score(test.iloc[:,0], randomforest))
#   f1_average += (f1_score(test.iloc[:,0], randomforest))
# print("accuracy", accuracy_average/10)
# print("precision", precision_average/10)
# print("recall", recall_average/10)
# print("f1", f1_average/10)

In [5]:
# accuracy_average = 0
# precision_average = 0
# recall_average = 0
# f1_average = 0
# for train_index, test_index in kfold.split(dataframe):
#   test = dataframe.iloc[test_index]
#   train = dataframe.iloc[train_index]
#   predict_model = SVC()
#   predict_model.fit(train.iloc[:,1:],  train.iloc[:,0])
#   svm = predict_model.predict(test.iloc[:,1:])
#   accuracy_average += (accuracy_score(test.iloc[:,0], svm))
#   precision_average += (precision_score(test.iloc[:,0], svm))
#   recall_average += (recall_score(test.iloc[:,0], svm))
#   f1_average += (f1_score(test.iloc[:,0], svm))
# print("accuracy", accuracy_average/10)
# print("precision", precision_average/10)
# print("recall", recall_average/10)
# print("f1", f1_average/10)

In [6]:
# accuracy_average = 0
# precision_average = 0
# recall_average = 0
# f1_average = 0
# for train_index, test_index in kfold.split(dataframe):
#   test = dataframe.iloc[test_index]
#   train = dataframe.iloc[train_index]
#   kneihbors = KNeighborsClassifier(n_neighbors = 10)
#   kneihbors.fit(train.iloc[:,1:],  train.iloc[:,0])
#   neighbors = kneihbors.predict(test.iloc[:,1:])
#   accuracy_average += (accuracy_score(test.iloc[:,0], neighbors))
#   precision_average += (precision_score(test.iloc[:,0], neighbors))
#   recall_average += (recall_score(test.iloc[:,0], neighbors))
#   f1_average += (f1_score(test.iloc[:,0], neighbors))
# print("accuracy", accuracy_average/10)
# print("precision", precision_average/10)
# print("recall", recall_average/10)
# print("f1", f1_average/10)